<mat-toolbar color="primary" class="mat-elevation-z4">
  <span
    ><mat-icon class="icons">shopping_cart</mat-icon>Abarrotes "El Compi"</span
  >

  <div class="spacer"></div>
  <a mat-button routerLink="home"></a>
  <a mat-button routerLink="about">Conócenos</a>
  <a mat-button routerLink="products">Productos</a>
  <a mat-button routerLink="contact">Contacto</a>
  <a mat-button routerLink="login">Ingresar</a>
  <a mat-raised-button color="accent" routerLink="register">Regístrate</a>
</mat-toolbar>
